{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <section id="content" class="body">
        <article>
            <header>
                <h1 class="entry-title">
                    <a href="{{ pagename }}" rel="bookmark" title="Permalink to {{ article.title }}">{{ article.title }}</a>
                </h1>

                {% include 'twitter.html' %}

                <p class="article-info group">
                    Posted by

                    <a class="url fn" href="{{ SITEURL }}/author/{{ article.author }}.html">{{ article.author }}</a>

                    on

                    <abbr class="published" title="{{ article.date.isoformat() }}">
                        {{ article.locale_date }}
                    </abbr>

                    in

                    <a href="{{ SITEURL }}/category/{{ article.category }}.html">{{ article.category }}</a>.
                </p>
            </header>


            <div class="entry-content">
                {{ article.content }}
            </div>
        </article>
    </section>
{% endblock %}
